.main_main-page {
    background-color: $greyBackground;

    section {
        margin-bottom: 60px;
        @media(max-width: 768px) {
            margin-bottom: 40px ;
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 60px;

            @media(max-width: 768px) {
                padding-bottom: 40px ;
            }

        }
    }
}

