main {
    background-color: $greyBackground;
}

.main_main-page {
    section {
        margin-bottom: 60px;
        @media(max-width: 768px) {
            margin-bottom: 40px ;
        }

        @media(max-width: 425px) {
            margin-bottom: 30px ;
        }

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 60px;

            @media(max-width: 768px) {
                padding-bottom: 40px ;
            }

            @media(max-width: 425px) {
                padding-bottom: 30px ;
            }

        }
    }
}

