@mixin acrom-normal(){
    font-family: Acrom, sans-serif;
    font-style: normal;
    font-weight: normal;
}

@mixin acrom-500(){
    font-family: Acrom, sans-serif;
    font-style: normal;
    font-weight: 500;
}

@mixin acrom-bold(){
    font-family: Acrom, sans-serif;
    font-style: normal;
    font-weight: bold;
}

@mixin light-blue-button(){
    display: flex;
    justify-content: center;
    align-items: center;
    @include acrom-normal;
    font-size: 13px;
    line-height: 154%;
    text-align: center;
    color: $mainDarkColor;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: .2s;
    cursor: pointer;

    &:hover {
        background-color: $lightBlueHoverColor;
    }
}

@mixin modal-input-style() {
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    @include acrom-500;
    font-size: 16px;
    line-height: 125%;
    padding: 14px 20px;

    @media(max-width: 600px) {
        height: 40px;
        padding: 14px 10px;
        font-size: 14px;
    }
}


@mixin modal-button() {
    @include acrom-normal;
    width: 242px;
    height: 54px;
    margin-right: 19px;
    background-color: #FFFFFF;
    border: 1px solid $orangeColor;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: $orangeColor;
    cursor: pointer;
    transition: .2s;

    @media(max-width: 600px) {
        height: 40px;
    }

    &:hover {
        background-color: $orangeColor;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
}




