$darkBackround: #1D1D1D;
$lightBrownBackground: #2E2D2D;
$darkBrownBackground: #1D1D1D;
$greyBackground:  #E5E5E5;

$mainDarkColor: #353535;
$greyColor: #6D6D6D;
$orangeColor: #F15A24;
$hoverColor:  #FC4301;

$linkTransitionTiming: 0.2s; 
