$darkBackround: #1D1D1D;
$lightBrownBackground: #2E2D2D;
$darkBrownBackground: #1D1D1D;
$greyBackground: #f9f9f9;

$mainDarkColor: #353535;
$greyColor: #6D6D6D;
$lightGreyColor: #5A5A5A;
$orangeColor: #F15A24;
$hoverColor:  #FC4301;
$buttonHoverColor: #f47e54;
$lightBlueHoverColor: rgba(0, 0, 0, 0.08);

$linkTransitionTiming: 0.2s; 
