.banner {

    &__link {
        display: block;
    }

    &__image-desktop {
        width: 100%;
        display: block;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    &__image-mobile {
        width: 100%;
        display: none;

        @media(max-width: 1024px) {
            display: block;
        }
    }
}