.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    &__item {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        color: $mainDarkColor;
        transition: .2s;
    
        &:before {
            content: '\2022';
            margin: 0 3px 0 8px;
        }
    
        &:first-of-type {
            &:before {
                display: none;
            }
        }
    
        &:hover {
            color: $mainDarkColor;
            &:before {
                color: $mainDarkColor;
            }
        }
    
        &.active {
            color: $hoverColor;
            pointer-events: none;
        }
    }

    &__link {
        color: inherit;
    }
}

.breadcrumbs--text-page {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 20px 40px;
    
    @media(max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.breadcrumbs--shops-page {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-left: 40px;
    padding-right: 40px;

    @media(max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}

