.container-wide {
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: 768px)  {
        width: auto;
        padding: 0 12px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1436px;

    @media (max-width: 1484px)  {
        max-width: auto;
        padding: 0 24px;
    }

    @media (max-width: 768px)  {
        padding: 0 12px;
    }
}