.container-wide {
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: 768px)  {
        width: auto;
        padding: 0 12px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1436px;

    @media (max-width: 1484px)  {
        max-width: auto;
        padding: 0 24px;
    }

    @media (max-width: 768px)  {
        padding: 0 12px;
    }
}

.container--shops-page {
    max-width: none;
    margin-left: 12.6%;
    margin-right: 0px;
    padding: 0px;

    @media (max-width: 1320px)  {
        margin: 0 auto;
        max-width: auto;
        padding: 0 24px;
    }

    @media (max-width: 768px)  {
        padding: 0 12px;
    }
}