.filters {
    background-color: #FFFFFF;
    position: relative;
    

    @media(max-width: 1080px) {
        z-index: 200003;
        height: 100vh;
        min-height: -webkit-fill-available;
    }

    &__close-filter-button {
        padding: 10px 0;
        padding-left: 20px;
        display: none;
        align-items: center;
        background-color: $hoverColor;
        cursor: pointer;

        @media(max-width: 1080px) {
            display: flex;
        }
    }

    &__close-filter-icon {
        margin-right: 10px;
    }

    &__close-filter-text {
        @include acrom-bold;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        padding: 6.5px 0;
        transition: .2s;
        text-transform: uppercase;
    }

    &__filters-list {
        @media(max-width: 1080px) {
            height: calc(100% - 103px);
            overflow-y: scroll;
            overflow-x: hidden;
            
        }

        @media screen and (min-width: 1024px) and (max-width: 1080px) { 
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
        }
    }

    &__item {
        padding: 15px 15px 27px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        &:last-of-type {
            border-bottom:  none;
        }
    }

    &__filter-title {
        display: block;
        margin-bottom: 12px;
    }

    &__amount-inputs {
        display: flex;
    }

    &__amount-from {
        margin-right: 28px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            display: block;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.16);
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            right: -24px;
        }
    }

    &__amount-input {
        width: 100%;
        @include acrom-normal;
        font-size: 13px;
        line-height: 154% ;
        color: $mainDarkColor;
        padding: 0 10px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.16);
        height: 34px;
    }

    &__filter-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    &__reset-button {
        text-align: center;
        padding: 12px 0;
        font-size: 14px;
        line-height: 171%;
        color: #626262;
        cursor: pointer;
        transition: .2s;
        border-top: 1px solid rgba(0, 0, 0, 0.08);

        &:hover {
            background: rgba(0, 0, 0, 0.04);
        }
    }

    &__show-more-dots, &__hide-arrow {
        cursor: pointer;
        background-color: rgba(0,0,0,.04);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 28px;
        transition-duration: .2s;
        outline: none;
        margin-bottom: 8px;
        &:hover {
            background: rgba(0,0,0,.08);
        }
    }

    &__hide-arrow {
        display: none;
    }
}