.footer {
    &__top-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 32px 0 55px 0;
        @media(max-width: 767px) {
            display: none;
        }
    }

    &__add-company {
        background: $lightBrownBackground;
    }

    &__add-company-content {
        padding: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }

    &__add-company-text {
        @include acrom-normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-right: 45px;

        @media(max-width: 767px) {
            margin-right: 0px;
            margin-bottom: 10px;
        }

        @media(max-width: 425px) {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__add-company-link {
        width: 242px;
        height: 54px;
        border: 1px solid $orangeColor;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(241, 90, 36, .5);
        }
    }

    &__add-company-link-plus {
        color: $orangeColor;  
        font-size: 44px;  
        margin-bottom: 7px;
        margin-right: 16px;
    }

    &__add-company-link-text {
        @include acrom-normal;
        color: $orangeColor;
    }

    &__bottom {
        background-color: $darkBrownBackground;
    }

    &__bottom-content {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 12px;
        overflow: hidden;

        @media(max-width: 768px) {
            padding: 25px 0;
        }
    } 

    &__bottom-top {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    } 

    &__logo-link {
        display: inline-flex;
    }

    &__bottom-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding-left: 20px;
        margin-right: -23px;

        @media(max-width: 768px) {
            justify-content: center;
            margin-top: 15px;
            padding-left: 0px;
        }
    }

    &__bottom-nav-item {
        margin-right: 23px;
    }

    &__bottom-nav-link {
        @include acrom-normal;
        font-size: 13px;
        line-height: 12px;
        color: #FFFFFF;
        &:hover {
            color: $hoverColor;
        }
    }

    &__bottom-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__additional-info {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    &__copyrights {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        @media(max-width: 768px) {
            text-align: center;
        }
    }

    &__copyrights-item {
        @include acrom-normal;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
    }

    &__additional-info {
        @media(max-width: 768px) {
            text-align: center;
        }
    }

    &__site-producer {
        margin-bottom: 12px;
        @include acrom-normal;
        font-size: 11px;
        line-height: 16px;
        color: #FFFFFF;

        @media(max-width: 768px) {
            text-align: center;
        }
    }

    &__site-producer-link {
        @include acrom-bold;
        font-size: 11px;
        line-height: 16px;
        color: $orangeColor;
        
    }

    &__personal-data-policy {
        @include acrom-normal;
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        line-height: 16px;
    }

    &__personal-data-policy-link {
        color: rgba(241, 90, 36, 0.5);
        font-size: 12px;
        line-height: 16px;

        @media(max-width: 1280px) {
            display: block;
        }
    }

    
    
}