
.header {
    &__top {
        background-color: $darkBackround;
        position: relative;
        z-index: 200000;
    }

    &__top-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 6px 0;

        @media (max-width: 768px)  {
            flex-wrap: wrap;
            padding-bottom: 8px;
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    //Mobile menu burger
    &__open-menu-burger {
        position: absolute;
        display: none;
        background-color: #FFFFFF;
        cursor: pointer;
        width: 25px;
        height: 2px;
        z-index: 1;
        top: 24px;
        left: 12px;
        transform: translate(-50%, -50%);
        @media (max-width: 576px)  {
            display: block;
        }

        &:before {
            content: '';
            position: absolute;
            top: -6px;
            display: block;
            background-color: #FFFFFF;
            width: 100%;
            height: 2px;
            z-index: 9999;
            transition: .2s;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -6px;
            display: block;
            background-color: #FFFFFF;
            width: 100%;
            height: 2px;
            z-index: 9999;
            transition: .2s;
        }

        &.active {
            height: 0;
        }

        &.active:before {
            transform: rotate(45deg);
            top: -3px;
        }

        &.active:after {
            transform: rotate(-45deg);
            margin-top: 0;
            bottom: 1px;
        }
    }

    &__logo-link {
        @media (max-width: 576px)  {
            margin-left: 37px;
        }
    }

    &__top-logo {
        display: flex;
        margin-right: 60px;
        @media (max-width: 992px)  {
            margin-right: 35px;
        }

        @media (max-width: 576px)  {
            margin-right: 0px;
        }
    }

    &__search {
        width: 560px;
        position: relative;

        @media (max-width: 1200px)  {
            width: 450px;
        }

        @media (max-width: 992px)  {
            width: auto;
            display: flex;
            align-items: center;
        }

        @media (max-width: 768px)  {
            flex-basis: 100%;
            margin-top: 10px;
        }
    }

    &__search-form {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__search-input {
        width: 100%;
        height: 34px;
        padding: 0px 0px 0px 50px;
        border: 1px solid #EDEDED;

        @media (max-width: 992px)  {
            display: none;;
        }

        @media (max-width: 768px)  {
            display: block;
        }

        &:focus {
            border: 1px solid $darkBackround;
        }
    }
    

    &__search-submit-button {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        height: 20px;
    }

    &__search-icon {
        @media (max-width: 992px)  {
            display: none;;
        }

        @media (max-width: 768px)  {
            display: block;
        }
    }

    &__search-mobile-icon {
        display: none;
        @media (max-width: 992px)  {
            display: block;
        }

        @media (max-width: 768px)  {
            display: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__select-city {
        margin-right: 70px;
        display: flex;
        align-items: center;
        cursor: pointer;

        @media (max-width: 1200px)  {
            margin-right: 50px;
        }

        @media (max-width: 576px)  {
            margin-right: 0px;
            justify-content: center;
            flex-basis: 100%;
            margin-top: 8px;
        }

        svg {
            cursor: pointer;
            margin-right: 10px;
            path {
                transition: .2s;
            }
        }

        &:hover {
            svg {
                cursor: pointer;
                path {
                    fill: $hoverColor;
                }
            }

            .header__select-city-select {
                color: $hoverColor;
            }

            .header__select-wrapper::after, .header__select-wrapper::before  {
                background-color: $hoverColor;
            }

        }
    }

    &__select-wrapper {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 1px;
            background-color: #FFFFFF;
            transform: rotate(40deg);
            pointer-events: none;
            right: 4px;
            transition: .2s;
        }

        &::after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 1px;
            background-color: #FFFFFF;
            transform: rotate(-40deg);
            pointer-events: none;
            right: 0px;
            transition: .2s;
        }
    }

    &__select-city-select {
        cursor: pointer;
        background: transparent;
        outline: none;
        color: #FFFFFF;
        border: none;
        background-color: $darkBackround;
        transition: .2s;
        appearance: none;
        padding-right: 16px;

        option {
            color: #FFFFFF;
        }
    }

    &__log-in, &__log-out  {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            path {
                transition: .2s;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $hoverColor;
                }
            }
            .header__log-in-text, .header__log-out-text {
                color: $hoverColor;
            }
        }
    }

    &__log-in-icon {
        margin-right: 10px;
    }

    &__log-in-text, &__log-out-text {
        transition: .2s;
        color: #FFFFFF;
        margin-top: 3px;
    }

    &__bottom {
        background-color: #FFFFFF;
    }

    &__bottom-content {
        height: auto;

        &.submenu-shown {
            height: 100vh;
            padding-bottom: 103px;

            @media(max-width: 576px) {
                padding-bottom: 0px;
            }
        }

        @media (max-width: 1700px) {
            padding: 0;
        }

        @media(max-width: 576px) {
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            overflow: auto;
        }
        
    }
}

.header--cabinet-main {
    .header__open-menu-burger {
        @media(max-width: 576px) {
            display: none;
        }
    }

    .header__logo-link {
        @media(max-width: 576px) {
            margin-left: 0px;
        }
    }
}

.header--cabinet-content-page {
    .header__top-logo {
        margin-right: 0px;
    }

    .header__logo-link {
        margin-right: 40px;
    }
    
    .header__cabinet-menu-button {
        @include acrom-normal;
        font-size: 14px;
        line-height: 114%;
        color: #FFFFFF;
        outline: none;
        cursor: pointer;
        transition: .2s;
        display: none;

        &:hover {
            color: $hoverColor;
        }

        @media(max-width: 1330px) {
            display: block;
        }
    }

    /* .header__open-menu-burger {
        display: block;
        position: static;
    } */
}