.search-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: .2s;
}

.search-modal {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    width: 560px;
    background-color:#FFFFFF;
    overflow: hidden;
    transition: .2s;

    @media(max-width:992px) {
        right: calc(50vw - 302px);
    }

    //Search input block
    &__search-input-block {
        position: relative;
        height: 64px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__search-icon {
        position: absolute;
        top: 8px;
        left: 18px;
    }

    &__search-input {
        height: 36px;
        width: 443px;
        padding: 0px 5px 0px 48px;
        @include acrom-normal;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        border: 1px solid #EDEDED;
        box-sizing: border-box;
    }

    &__search-input-form {
        position: relative;
        margin-left: 47px;

    }

    &__back-arrow-button {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        left: 10px;
        height: 36px;
        width: 30px;
        &:hover {
            .search-modal__back-arrow-icon {
                path {
                    stroke: #858585;
                }
            }
        }
    }

    &__back-arrow-icon {
        path {
            transition: .2s;
        }
        
    }

    &__clear-button {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;    
        outline: none;
        right: 12px;
        height: 36px;
        width: 30px;

        &:hover {
            .search-modal__clear-icon {
                path {
                    stroke: #858585;
                }
            }
        }
    }

    &__clear-icon {
        path {
            transition: .2s;
        }
    }

    //Search results block
    &__search-results {
        max-height: 80vh;
        overflow-y: scroll;
    } 

    &__search-results-groups {

    }

    &__search-results-group {

    }

    &__results-group-title {
        display: block;
        background-color:#EFEFEF;
        padding-left: 47px;
        line-height: 28px;
        position: sticky;
        top: 0;
        z-index: 10;
        
    }

    &__results-group-list {

    }

    &__results-group-list-item {
        border-bottom: 1px solid #EDEDED;
        &:hover {
            background-color: rgba(0,0,0,.04);
        }

        &.hidden {
            display: none;
        }
    }

    &__results-group-list-link {
        position: relative;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        color: $greyColor;
        line-height: 20px;
        padding-left: 47px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:after {
            position: absolute;
            display: block;
            content: url(../../assets/images/forward-arrow.svg);
            right: 22px;
            height: 17px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__results-group-item-text {
        @include acrom-normal;
        font-size: 13px;
        line-height: 20px;
        padding-right: 10px;
    }

    &__results-list-image-wrapper {
        display: block;
        margin-right: 70px;
        max-width: 90px;
        max-height: 60px;
        text-align: left;
        flex: 1;
    }

    &__results-list-image {
        display: block;
        max-width: 90px;
        max-height: 60px;
        border-radius: 3px;
        margin: auto;
    }

    &__show-more-search-items {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $greyColor;
        padding-left: 47px;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        &:hover {
            background-color: rgba(0,0,0,.04);
        }
    }

    &__show-more-dots {
        margin-left: 5px;
    }
}