.shop-card {
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 32px;

    @media(max-width: 1280px) {
        flex-direction: column-reverse;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 28px 16px 78px 40px;

        @media(max-width: 767px) {
            padding: 20px 20px 40px 20px;
        }
    }

    &__headline {
        display: flex;
        justify-content: space-between;

        @media(max-width: 767px) {
            flex-direction: column;
            margin-bottom: 25px;
        }
    }

    &__shop-info {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        @media(max-width: 1280px) {
            margin-bottom: 25px;
        }

        @media(max-width: 767px) {
            justify-content: center;
        }
    }

    &__shop-info-top {
        display: flex;
        margin-bottom: 45px;

        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }
    }

    &__shop-logo-link {
        display: flex;
        min-width: 114px;
        margin-right: 12px;
    }

    &__shop-logo {
        max-width: 114px;
        max-height: 52px;
    }

    &__name-rating-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__shop-type {
        @include acrom-normal;
        font-size: 12px;
        line-height: 167%;
        color: $lightGreyColor;

        @media(max-width: 576px) {
            text-align: center;
        }
    }

    &__shop-rating-name {
        display: flex;
        align-items: center;
        margin-top: 4px;

        @media(max-width: 767px) {
            flex-direction: column;
        }

    }
    
    &__shop-name {
        @include acrom-bold;
        font-size: 16px;
        line-height: 200%;
        color: $mainDarkColor;
        margin-right: 28px;
        transition: .2s;

        @media(max-width: 767px) {
            margin-right: 0;
        }

        &:hover {
            color:$hoverColor;
        }
    }

    &__shop-rating {
        position: relative;
    }

    &__shop-rating-star {
        position: absolute;
        top: -1px;
    }

    &__shop-rating-amount {
        @include acrom-normal;
        font-size: 15px;
        line-height: 160%;
        color: $mainDarkColor;
        padding-left: 20px;
        margin-right: 6px;
    }

    &__comments {
        color: $lightGreyColor;
        text-decoration: underline;
        &:hover {
            color: $hoverColor;
        }
    }

    &__shop-info-bottom {

    }

    &__shop-location {
        margin-bottom: 9px;
        display: flex;
        flex-wrap: wrap;
    }

    &__locations {
        display: flex;
        flex-wrap: wrap;
    }

    &__location {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 11px;
        margin-right: 10px;

        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 4px;
            height: 4px;
            background-color: #FC4301;
            top: 36%;
            left: 0px;
        }
    }

    &__location-label {
        @include acrom-500;
        font-size: 16px;
        line-height: 160%;
        color: $mainDarkColor;
        margin-right: 8px;
    }

    &__shop-work-time {
        display: flex;
        flex-wrap: wrap;
    }

    &__shop-work-time-labels {
        display: flex;
        flex-wrap: wrap;
    }

    &__shop-work-time-label {   
        @include acrom-500;
        font-size: 16px;
        line-height: 160%;
        color: $mainDarkColor;
        margin-right: 8px;
        position: relative;
    }

    &__seller-days-hours {
        @include acrom-normal;
        font-size: 13px;
        line-height: 154%;
        color: $mainDarkColor;
        position: relative;
        padding-left: 11px;
        margin-right: 10px;
        display: flex;
        align-items: center;

        &:before {
            position: absolute;
            display: block;
            content: '';
            width: 4px;
            height: 4px;
            background-color: #FC4301;
            top: 38%;
            left: 0px;
        }
    }

    &__buttons {
        @media(max-width: 767px) {
            justify-content: center;
            display: flex; 
        }

        @media(max-width: 425px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__phone-link-button {  
        @include acrom-500;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        width: 164px;
        height: 36px;
        background-color: $hoverColor;
        font-size: 13px;
        line-height: 154%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 12px;

        @media(max-width: 767px) {
            margin-right: 10px;
            margin-bottom: 0px;
        }

        @media(max-width: 425px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &:hover {
            background-color: $buttonHoverColor;
        }
    }

    &__site-link-button {
        @include light-blue-button;
        white-space: nowrap;
        width: 164px;
        height: 36px;
    }

    &__slider {
        width: 590px;

        @media(max-width: 1280px) {
            width: 416px;
        }

        @media(max-width: 576px) {
            width: 374px;
        }

        @media(max-width: 425px) {
            width: 100%;
        }
    }

    &__slide {
        display: flex;
    }

    &__image {
        width: 590px;
        height: 763px;
        object-fit: cover;
        object-position: center;

        @media(max-width: 1280px) {
            width: 416px;
            height: 420px;
        }

        @media(max-width: 576px) {
            height: 380px;
            width: 374px;
        }

        @media(max-width: 425px) {
            height: 320px;
            width: 100%;
        }
    }

    .glide__arrows {
       /*  @media(max-width: 992px) {
            display: none;
        } */
    }

    .glide__arrow--left {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 48px;
        height: 48px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        outline: none;

        @media(max-width: 1280px) {
            width: 36px;
            height: 36px;
            left: 10px;
        }
    }

    .glide__arrow--right {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        right: 20px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        outline: none;

        @media(max-width: 1280px) {
            width: 36px;
            height: 36px;
            right: 10px;
        }
    }

}