.shop-detailed-info {
    display: flex;
    padding: 32px 40px;
    background-color: #FFFFFF;
    margin-bottom: 32px;

    @media (max-width: 767px)  {
        padding: 15px 20px 15px 20px;
    }

    &__items-list {
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__item-label { 
        @include acrom-500;
        margin-bottom: 12px;
        font-size: 13px;
        line-height: 154%;
        color: $lightGreyColor;
        flex: 0 0 25%;
        padding-right: 5%;

        @media (max-width: 767px)  {
            flex: 0 0 40%;
        }

        @media (max-width: 425px)  {
            flex: 0 0 50%;
        }
    }

    &__item-value {
        @include acrom-normal;
        margin-bottom: 12px;
        font-size: 13px;
        line-height: 154%;
        color: $lightGreyColor;
        flex: 1 1 auto;
        word-break: break-word;
    }

    &__item-link {
        color: inherit;
        &:hover {
            color: $hoverColor;
        }
    }
}